VITE_GEMINI_API_KEY=AIzaSyANYcLzRy8KhHZyvF2Inw55-lZYgHhhz_w
VITE_SUPABASE_URL=https://yjgruiqpliwxjffauzdc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqZ3J1aXFwbGl3eGpmZmF1emRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMzMxMTUsImV4cCI6MjA4ODkwOTExNX0.nJuicObQoSwc-7QhGu71RyASukgIODdpX0l_bBSql38
